<h1><%= Ecm::Staff::BusinessUnit.model_name.human(:count => :other) %></h1>

<% @business_units.select(&:root?).each do |root_business_unit| %>
  <%= render :partial => "business_unit_list_item", :locals => { :business_unit => root_business_unit } %>
<% end %>
